/* []{} */
:root{
  --color:white;
}
body, html {
  height: 100%;
  margin: 0;
}
body{
  background-image:url("project images/background3.jpg");
  /* background:linear-gradient( 25deg , #e08da6, #d6c76f) ; */
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex ;
  justify-content: center ;
}
code{
  font-size:16px;
}
section{
  width:80%;
  height:500px;
  backdrop-filter:blur(6px);
  background:linear-gradient( 90deg , hsla( 0, 0%, 100% , 0.05) , hsla( 0, 0%, 0%,0.05) );
  border-radius:3px;
  align-self:center;
  border-width:2px;
  border-style:solid;
  border-color:rgba(218, 215, 215, 0.754) rgba(130, 129, 129, 0.389) rgba(125, 124, 124, 0.749) rgb(197, 196, 196);
  display: flex ;
  justify-content: space-between;
  flex-direction: column ;
  margin:50px;
  text-transform: uppercase;
}
nav{
  color:var(--color);
  height:50px;
  display: flex ;
  justify-content: space-around ;
  align-items: center ;
}
#links{
  width:60%;
  height:50px;
  display: flex ;
  justify-content: space-between ;
  align-items: center ;
}
#links a {
  color:var(--color);
  text-decoration:none;
}
#content{
  color:var(--color);
  align-self:flex-end;
  width:50%;
  height:250px;
  padding:10px;
  text-align: right;
  display: flex ;
  flex-direction: column ;
  justify-content: space-around ;
}
button{
  width:130px;
  height:40px;
  padding:5px;
  font-size:15px;
  border-radius:20px;
  align-self:center ;
  cursor:pointer;
  border:2px solid var(--color);
  color:white;
  background-color: hsla(0, 0%, 100%,0) ;
}
button:hover {
  background-color: hsla(0, 0%, 100%, 0.879) ;
  transition:.5s linear;
  color:black;
}
#name1{
  font-size:20px;
}
#name2{
  font-size:40px;
}
p{
 text-transform: capitalize ;
}
